body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.centered {
    width: 150px;
    height: 150px;
    background-color: #4f9fbc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
}