* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

.featured-works {
    max-width: 900px;
    margin: 40px auto;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-works h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.work-item {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.work-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.work-content {
    flex: 1;
}

.work-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.year, .category {
    font-size: 16px;
    color: white;
    background-color: rgb(0, 0, 111);
    border-radius: 5px;
}

.year {
    font-weight: bold;
}

.category {
    background-color: gray;
    padding: 3px 10px;
    border-radius: 5px;
    color: rgb(57, 57, 57);
}

.work-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.social-links i {
    text-decoration: none;
    color: #555;
    margin: 0 10px;
    font-size: 18px;
}

.social-links i:hover {
    color: #2196F3;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}
