body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid red;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    left: 20px;
}

.cards {
    display: flex;
}

.card {
    width: 30%;
    border-radius: 5px;
    padding: 25px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    color: #666;
}

.card .btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: 1px solid red;
    color: red;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.card .btn:hover {
    background: red;
    color: white;
}

.category-line {
    width: 0.1px;
    height: 320px;
    background-color: rgb(91, 91, 91);
    margin-right: 5px;
}