.nav {
    display: flex;
    gap: 15px;
  }
  .nav .item1 {
    background-color: gray;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(rgb(10, 9, 9), rgb(210, 210, 207));
    opacity: 0.5;
    gap: 5px;
  }
  .nav img {
    border-radius: 5px;
  }
  .nav .foo {
    width: auto;
    height: 205px;
  }
  .nav .car {
    width: auto;
    height: 205px;
  }
  .nav .tab {
    width: auto;
    height: 15px;
  }